header {
    &.container {
        padding: 0;
        margin: 0;
    }
    .header--nav-main {
        display: flex;
        justify-content: center;

        @media #{$mq-mediumScreen}{
            justify-content: end;
        }
        &:before {
            content: "";
            position: absolute;
            top: 0;
            width: 100%;
            left: 0;
            height: 7px;
            background: linear-gradient(130deg, $g1, $g2, $g3, $g4);    
            z-index: 1;
        }    

        .logo {
            position: relative;
            z-index: 1;
            a {
                display: block;
                margin: 0;
                @media #{$mq-mediumScreen}{
                    margin: 15px 0 0 20px;
                }
                span {
                    white-space: nowrap;
                    text-indent: 100%;
                    overflow: hidden;
                    background-image: url('../images/choose-mke-logo.svg');
                    background-repeat: no-repeat;
                    background-size: cover;
                    margin: 0;
                    width: 120px;
                    height: 120px;
                    display: block;
                }
                @media #{$mq-mediumScreen}{
                    span {
                        width: 169px;
                        height: 169px;
                    }
                }
                @include customQuery(768px, 820px){
                    span {
                        width: 120px;
                        height: 120px;
                    }
                }                
            }
        }
        nav {
            width: 100%;
            display: none;
            @media #{$mq-mediumScreen}{
                display: block;
            }
            .nav--top-references {
                @include navigationGrid($light_gray);
                li {
                    padding: 0 15px;
                    a {
                        @include navigationFontStyle($navy_blue);
                        letter-spacing: 0.02rem;
                        span {
                            text-decoration: underline;
                            padding: 0 5px;
                        }
                    }
                }
            }
            .nav--top-main {
                @include navigationGrid(white);
                height: 82px;
                @media #{$mq-mediumScreen}{
                    height: 116px;
                }
                @include customQuery(768px, 820px){
                    height: 82px;
                }

                li {
                    padding: 0 10px;
                    @media #{$mq-mediumScreen}{
                        padding: 0 30px;
                    }
                    @include customQuery(768px, 980px){
                        padding: 0 10px;
                    }
                    &:last-child {
                        padding-right: 20px;
                    }
                    a {
                        @include navigationFontStyle($navy_blue);
                        font-size: $font-size-2;

                        @include customQuery(768px, 820px){
                            font-size: 1rem;
                        }
                        font-weight: 600;
                        text-transform: uppercase;
                        letter-spacing: 0.0625rem;
                        &.search {
                            font-size: 1.75rem;
                        }               
                    }
                }
            }
        }
    }
}