header {
    &.container {
        padding: 0;
        margin: 0;
    }
    .header--nav-main {
        display: flex;
        .logo {
            position: relative;
            z-index: 1;
            a {
                display: block;
                margin: 15px 0 0 20px;
                span {
                    white-space: nowrap;
                    text-indent: 100%;
                    overflow: hidden;
                    background-image: url('../images/choose-mke-logo.svg');
                    background-repeat: no-repeat;
                    background-size: cover;
                    margin: 0;
                    width: 120px;
                    height: 120px;
                    display: block;
                }
                @include media('>small') {
                    span {
                        width: 169px;
                        height: 169px;
                    }
                }
                @include media-context(('custom' : 820px)) {
                    @include media('>small', '<=custom') {
                        span {
                            width: 120px;
                            height: 120px;
                        }
                    }
                }
            }
        }
        nav {
            width: 100%;
            .nav--top-references {
                @include navigationGrid($light_gray);
                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    width: 100%;
                    left: 0;
                    height: 7px;
                    background: linear-gradient(130deg, $g1, $g2, $g3, $g4);    
                }    
                li {
                    padding: 0 15px;
                    a {
                        @include navigationFontStyle($navy_blue);
                        letter-spacing: 0.02rem;
                        span {
                            text-decoration: underline;
                            padding: 0 5px;
                        }
                    }
                }
            }
            .nav--top-main {
                @include navigationGrid(white);
                height: 82px;
                @include media('>small') {
                    height: 116px;
                }
                @include media-context(('custom' : 820px)) {
                    @include media('>small', '<=custom') {
                        height: 82px;
                    }
                }

                li {
                    padding: 0 10px;
                    @include media('>small') {
                        padding: 0 30px;
                    }
                    @include media-context(('custom' : 980px)) {
                        @include media('>small', '<=custom') {
                            padding: 0 10px;
                        }
                    }
                    &:last-child {
                        padding-right: 20px;
                    }
                    a {
                        @include navigationFontStyle($navy_blue);
                        font-size: $font-size-2;
                        @include media-context(('custom' : 820px)) {
                            @include media('>small', '<=custom') {
                                font-size: 1rem;
                            }
                        }
                        font-weight: 600;
                        text-transform: uppercase;
                        letter-spacing: 0.0625rem;
                        &.search {
                            font-size: 1.75rem;
                        }               
                    }
                }
            }
        }
    }
}