/*** Primary and Secondary Colors  ***/
/* Primary */
$light_yellow   : #F8E161;
$teal           : #029395;
$navy_blue      : #0d223f;
$blue           : #28538e;
$gold           : #F5A71C;

/* Secondary */
$dark_gray      : #2B2B2B;
$medium_gray    : #d6d6d6;
$light_gray     : #F7F7F7;
$white          : #FFFFFF;
$black          : #000000;

/* Alerts */
$warning_red    : #b11030;
$success_green  : #008040;

/*** Font Sizes  ***/
/* Header */
$font-size-h1   : 2.5rem;
$font-size-h2   : 2.5rem;
$font-size-h3   : 1.438rem;
$font-size-h4   : 1.25rem;
$font-size-h5   : 1.125rem;

/* Paragraph */
$font-size-1    : 1rem;
$font-size-2    : 1.125rem;

/* Tag Colors */
$tag-green          :#017A7B;
$tag-green-accent   :$teal;
$tag-blue           :$blue;
$tag-blue-accent    :#3369B2;
$tag-gold           :#B8860B;
$tag-gold-accent    :$gold;

/* Gradient Line */
$g1 :$light_yellow;
$g2 :#009FD6;
$g3 :#007CA6;
$g4 :#005470;

/* Box Shadow */
$box-shadow                 : 0px 3px 2px #00000033;