.accordion {
    width: 85%;
    margin: 2rem auto;

    h5 {
        @media #{$mq-largeScreen} {
            color: $white;
            text-transform: capitalize;
            font-weight: normal;
        }
    }

    .fas {
        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }
    }

    .accordion--header {
        @media #{$mq-largeScreen} {
            display: flex;
            align-items: center;
            padding: 0.5rem 1rem;
            justify-content: space-between;
            color: $white;
            background-color: $navy-blue;
        }
    }

    .accordion--content {
        @media #{$mq-largeScreen} {
            border: 1px solid $medium_gray;
            margin-top: 1.5rem;
            padding: 0.75rem 1rem;
        }

        h5 {
            color: $navy_blue;
            font-size: $font-size-h5;
            padding-bottom: 1rem;
        }

        .accordion--content__subheader {
            @media #{$mq-largeScreen} {
                display: flex;
                align-items: baseline;
                justify-content: space-between;
                border-bottom: 1px solid $medium_gray;
            }
        }
    }
}
