.breadcrumb {
    background-color: $light_gray;
    padding: 1rem 1.5rem;
    margin-block-start: 4.5rem;
    @media #{$mq-mediumScreen} {
        padding: 1rem 2.5rem;
        margin-block-start: 0.5rem;
    }
    &__list {
        display: flex;
        overflow-y: scroll;
    }
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        &:after {
            content: '>';
            margin: 0 0.5rem;
        }
        &:last-child {
            &:after {
                content: '';
            }
            a {
                text-decoration: none;
            }
        }
    }
}