.Community-Listing {
    @media #{$mq-largeScreen} {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    section {
        @media #{$mq-largeScreen} {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: flex-end;
        }
    }

    .Community-Listing--lists p {
        color: $navy_blue;
        font-size: $font-size-2;
        font-weight: bold;
    }

    li a {
        display: block;
        margin: 1.5rem 0;
        width: 80%;
        line-height: 1.8;
        font-weight: bold;

        &:hover {
            color: $navy_blue;
        }

        @media #{$mq-largeScreen} {
            color: $blue;
            line-height: 2;
            font-size: 26px;
            margin: 3rem 0;
        }
    }

    .Community-Listing--cta {
        background-image: url("../images/ad-bg-1.jpg");
        background-repeat: no-repeat;
        color: $white;
        padding: 7.5rem 2.5rem;
        margin: 1rem 0;

        @media only screen and (min-width: 768px) and (max-width: 1024px) {
            background-image: url("../images/ad-bg-1-tablet.jpg");
            padding-top: 13rem;
        }

        @media #{$mq-largeScreen} {
            padding: 3.5rem;
            padding-top: 7.5rem;
            margin: 2.5rem 0;
            width: 486px;
            height: 388px;
            box-shadow: $box-shadow;
        }

        h3 {
            color: $light_yellow;
        }

        &#recruit {
            background-image: url("../images/ad-bg-2.jpg");
            background-repeat: no-repeat;
            color: #000;

            @media only screen and (min-width: 768px) and (max-width: 1024px) {
                background-image: url("../images/ad-bg-2-tablet.jpg");
                padding-top: 15rem;
            }

            h3 {
                color: $blue;
            }
        }
    }
}
