.hero--banner {
    position: relative;
    overflow: hidden;
    height: 639px;
    margin-bottom: 60px;

    video { 
        display: none;
    }

    @media #{$mq-mediumScreen} {

        img {
            display: none;
        }

        video {
            display: block;
            width: 100%;
        }
    }

    img.hero--banner__tablet {
        display: none;
    }
    
    img {    
        width: 85%;
        position: absolute;
        bottom: 0;
    }


    // DESKTOP PROPS
    // img { 
    //     display: none;
    // }

    // .hero--banner__tablet {
    //     display: none;
    // }

    // video {
    //     z-index: 0;
    // }
}

.hero--banner__copy {
    position: absolute;
    z-index: 10;
    left: 40px;
    bottom: 90px;
    top: auto;
    width: 282px;

    @media #{$mq-mediumScreen} {

        bottom: 21rem;

       
        h1 {
            font-size: 6vw;
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: 700;
            text-transform: capitalize;
            color: #FFFFFF;
            line-height: 6.4vw;
        }
    }

    // Desktop Props
    // position: relative;
    // z-index: 2;
    // bottom: 26rem;
    // left: 9rem;

   

    h1 span {
        background-color: $light_yellow;
        color: $navy_blue;
        padding: 0 1rem;
        line-height: 1.25;
    }

    h3 {
        display: none;
    }

    // h3 {
    //     font-size: 1.5vw;
    //     text-transform: uppercase;
    //     color: $light_yellow;
    //     font-weight: 500;
    //     margin: 1rem 0 0 0;

    // }
}

// @media only screen and (min-width: 768px) and (max-width: 1023px) {

//     .hero--banner {
//         display: flex;
//         padding: 0;
//         min-height: 21rem;

//         video {
//             display: none;
//         }

//         img { 
//             display: none;
//         }

//         .hero--banner__tablet {
//             position: absolute;
//             z-index: 1;
//             display: block;
//             height: auto;
//             width: 100%;
//         }
//     }

//     .hero--banner__copy {
//         top: 5rem;
//     }
// }