.hero--banner--container {
    position: relative;
    overflow: hidden;
 
    img { 
        display: none;
    }

    #hero--tablet {
        display: none;
    }
}

.hero--copy {
    position: relative;
    z-index: 2;

    h1 {
        font-size: 6vw;
        font-weight: bold;
        text-transform: capitalize;
        color: #FFFFFF;
    }

    h1 span {
        background-color: $light_yellow;
        color: $navy_blue;
        padding: 0 1rem;
    }

    h3 {
        font-size: $font-size-h3;
        text-transform: uppercase;
        color: $light_yellow;
        margin-top: 1rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

    .hero--banner--container {
        display: flex;
        justify-content: center;
        padding: 0;
        min-height: 21rem;

        video {
            display: none;
        }

        img { 
            display: none;
        }

        #hero--tablet {
            position: absolute;
            z-index: 1;
            display: block;
            height: auto;
            width: 100%;
        }
    }

    .hero--copy {
        top: 5rem;
    }
}

@media only screen and (max-width: 767px) {

    .hero--banner--container {
        display: block;
        padding: 0;
        height: 639px;

        video { 
            display: none;
        }

        img { 
            display: block;
            position: absolute;
            z-index: 0;
            height: 44rem;
            width: 100%;
        }
    }
    
    .hero--copy {
        display: block;
        position: relative;
        width: 80%;;
        
        h1 {
            font-weight: bold;
            text-transform: capitalize;
            color: #FFFFFF;
        }
    
        h1 span {
            background-color: $light_yellow;
            color: $navy_blue;
            padding: 0;
        }
    
        h3 {
            text-transform: uppercase;
            color: $light_yellow;
        }
    }
  }