.imageCopy {
    &__heading {
        text-align: center;
    }
    &__row {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @media #{$mq-largeScreen}{
            flex-direction: row;
        }
    }
    &__image {       
        margin-block: 20px 0px; 
        margin-inline: 20px;
        position: relative;
        @media #{$mq-mediumScreen} {
            flex: 1;
        }
        img {
            width: 100%;
            aspect-ratio: 16 / 10;
            object-fit: cover;
            box-shadow: $box-shadow;
        }
        .tag {
            position: absolute;
            top: -15px;
            left: 0;
            right: 0;
            margin: 0 auto;
            max-width: 120px;
            @media #{$mq-largeScreen}{
                top: 20px;
                left: 20px;
                right: unset;
                margin: auto;
                max-width: none;
            }
        }
    }
    &__copy {
        padding: 2.5rem;
        h3 {
            text-align: center;
            line-height: 2rem;
        }
        p {
            @include fluid-type(320px, 768px, 18px, 18px);
            line-height: 2rem;
        }
        @media #{$mq-mediumScreen} {
            margin-inline: 20px;
            flex: 1;
            h3 {
                text-align: left;
            }
        }
        &__ctas {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items:center;
            @media #{$mq-largeScreen}{
                flex-direction: row;
                justify-content: flex-start;
            }

            button, a{
                margin-block:  10px;
                min-width: unset;
                width: 100%;
                text-align: center;
                @media #{$mq-largeScreen}{
                    width: unset;
                    margin-inline: 10px;
                }
            }
        }
    }
    &--reversed {
        .imageCopy__row {
            flex-direction: row-reverse;
        }
        .slick-slider {
            .slick-dots {
                left: unset;
                right: 0;
                bottom: 10px;
            }
        }
    }
    .slick-slider {
        .slick-dots {
            left: 0;
            padding: 0px 20px;
            top: 200px;
            @include customQuery(400px, 450px){
                top: 240px;
            }
            @media #{$mq-mediumScreen}{
                max-width: 100%;
                top: 350px;
            }
            @media #{$mq-largeScreen}{
                max-width: 45%;
                bottom: 15px;
                top: unset;
            }
            li {
                &.slick-active {
                    button{
                        &:before {
                            background-color: $light_yellow;
                        }
                    }
                }
                button {
                    &:before {
                        content: '';
                        background-color: $white;
                        opacity: 1;
                    }
                    &:hover, &:focus {
                        &:before {
                            background-color: $light_yellow;
                        }
                    }
                }
            }
        }
    }
}