.intro-copy, .intro {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: $white;
    padding-block-start: 2.5rem;
    padding-block-end: 2.5rem;
    padding-inline-start: 1.5rem;
    padding-inline-end: 1.5rem;
    
    &--hero{
        z-index: 1;
        max-width: 90%;
    
        @media #{$mq-largeScreen} {
            max-width: 1415px;
            box-shadow: none;
        }
    }

    button,
    .button {
        &:first-of-type {
            margin-inline-start: 0;
        }
    }
    p {
        color: $black;

        @media #{$mq-largeScreen} {
            width: 80%;
            margin: 1rem auto;
        }
    }

    @media #{$mq-largeScreen} {
        border: none;
        width: 100%;
        margin-top: 0;
        padding-block-start: 3.5rem;
        padding-block-end: 3.5rem;

        button.button--primary {
            display: block;
            text-align: center;
            margin: 0 auto;
        }
    }

    h2 {
        margin: 0;
    }
}