.intro-copy--container {
    position: relative;
    padding: 5rem 0;
    margin-bottom: 20rem;

    @media #{$mq-largeScreen} {
        padding: 0;
    }

}
.intro-copy {
    position: absolute;
    background-color: #FFF;
    text-align: center;
    width: 82%;
    padding: 0rem;
    top: -9rem;
    left: 0.35rem;

    h3 {
        font-weight: bold;
    }

    h3, p {
        padding: 1rem;
    }

    @media #{$mq-largeScreen} {
        position: sticky;

        img {
            display: none;

            &.hero--banner__tablet {
                display: none;
            }  
        }
    }
}