.intro-copy--container {
    position: relative;
    padding: 5rem 0;
    margin-bottom: 20rem;

    @media #{$mq-largeScreen} {
        padding: 0;
    }

    .intro-copy {
        position: absolute;
        background-color: #FFF;
        border-top: 5px solid #28538E;
        text-align: center;
        width: 82%;
        padding: 1rem;
        top: -7rem;
        left: 2.35rem;
        box-shadow: 0 6px 5px -2px #00000033;
    
        h3 {
            font-weight: bold;
        }
    
        h3, p {
            padding: 1rem;
        }
    
        @media #{$mq-largeScreen} {
            position: sticky;
    
            img {
                display: none;
    
                &.hero--banner__tablet {
                    display: none;
                }  
            }
        }
    }
}

