.memberships--tier {
    // display: flex;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "perks tiers"
        "perks features"
        "perks features"
        "perks features";
    color: $white;

    @media #{$mq-mediumScreen} {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-gap: 1rem;
        grid-template-areas:
            "perks tiers"
            "perks features"
            "perks features"
            "perks features";
    }

    h4 {
        color: $white;
    }

    // Left Side
    .memberships--perks {
        display: block;
        grid-area: perks;
        background-color: $navy-blue;
        padding: 1rem 0.5rem;
        position: sticky;
        width: 100%;

        @media #{$mq-mediumScreen} {
            grid-area: perks;
            padding: 1.5rem 4rem;
        }

        label {
            display: block;
            font-size: 18px;
            margin: 1rem 0;
        }
    }

    .memberships--perks__header {
        font-weight: bold;
        border-bottom: 2px solid #029395;
        padding: 1rem 0;
    }

    // Membership Tier Headers RIGHT SIDE TOP
    .memberships--tiers__header {
        display: flex;
        align-items: end;
        justify-content: space-between;
        overflow: auto;
        height: 7.5rem;
        padding: 1.5rem;
        background-color: $teal;
        padding: 1rem;
        grid-area: tiers;

        @media #{$mq-mediumScreen} {
            grid-area: tiers;
        }

        h4,
        div {
            margin: 0 1rem;
        }

        div span {
            text-align: center;
            line-height: 1.2;
        }
    }

    //Membership features RIGHT SIDE BOTTOM
    .memberships--features {
        display: flex;
        grid-area: features;
        width: 100%;
        background-color: #000;

        @media #{$mq-mediumScreen} {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            text-align: center;
            color: $black;
            padding-top: 1.5rem;
            padding-bottom: 2rem;
            border-bottom: 2px #d6d6d6 solid;
        }

        span {
            @media #{$mq-mediumScreen} {
                display: block;
                margin: 0.75rem;
                margin-bottom: 0.5rem;
            }
        }

        .fa-check {
            color: $success_green;
            @media #{$mq-mediumScreen} {
                margin: 0.45rem 0;
            }
        }

        .fa-times {
            color: $warning_red;
            @media #{$mq-mediumScreen} {
                margin: 0.45rem 0;
            }
        }
    }
}

/* New attempt */

.tier-grid-container {
    display: grid;
    overflow: auto;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 7rem;
    grid-template-areas: 
        "perks tiers tiers tiers tiers"
        "perks feature feature feature feature"
        "perks feature feautre feature feature" 
        "perks feature feature feature feature"
        "perks feature feautre feature feature" 
        "perks feature feature feature feature"
        "perks feature . . .";
    ;
}

.tier-grid--perks {
    color: white;
    background-color: #0d223f;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.5rem;

    div {
        padding: 1rem 0.5rem;
    }

    h4 {
        color: white;
        text-transform: uppercase;
    }
}

.tier-grid--tiers {
    text-align: center;
    background-color: #029395;
    color: white;

    h4 {
        color: white;
        margin-bottom: 0;
    }

    div {
        margin: 2rem 0;
    }

    p {
        margin: 0;
    }
}

.tier-grid-container .tier-grid--tiers:nth-child(1) {
    margin-left: 1rem;
}

.tier-grid--features {
    text-align: center;
    // border: 2px solid #000;
    padding: 1.5rem 0;

    .fa-check {
        color: $success_green;
        font-size: 1.5rem;
    }

    .fa-times {
        color: $warning_red;
        font-size: 1.5rem;
    }

    p {
        margin: 0.5rem 0;
    }
}
