.tier-grid-container {
    display: grid;
    overflow: auto;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 7rem;

    .tier-grid--perks__header {
        text-transform: capitalize;
        padding-bottom: 0.75rem;
        border-bottom: 3px solid $teal;
    }

    .tier-grid--perks {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: $white;
        background-color: $navy_blue;
        padding: 0 0.75rem;

        @media #{$mq-mediumScreen} {
            padding: 0.25rem;
            padding-left: 2.5rem;      
        }

        div {
            padding: 1rem 0.5rem;
            width: 100%;
        }

        h4 {
            color: $white;
            text-transform: uppercase;
        }
    }

    .tier-grid--tiers {
        text-align: center;
        background-color: $teal;
        color: $white;
        padding: .25rem 1.5rem;

        @media #{$mq-mediumScreen} {
            padding: 0;
        }

        h4 {
            color: $white;
            margin-bottom: 0;
        }

        div {

            @media #{$mq-mediumScreen} {
                margin: 2rem 0;
            }
        }

        p {
            margin: 0;
        }
    }

    .tier-grid-container .tier-grid--tiers:nth-child(1) {
        margin-left: 1rem;
    }

    .tier-grid--features {
        text-align: center;
        padding-top: 1.2rem;

        .fa-check {
            color: $success_green;
            font-size: 1.5rem;
        }

        .fa-times {
            color: $warning_red;
            font-size: 1.5rem;
        }

        p {
            margin: 0.5rem 0;
        }
    }
}