.nav {
    z-index: 10;
    &__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        transition: 500ms;
        z-index: 20;
        &--primary {
            
        }
        &--secondary {
            overflow: hidden
        }
    }

    &__item {
        position: relative;
        list-style-type: none;
        display: block;
        align-self: stretch
    }
    
    &__link {
        position: relative;
        display: block;
        width: 100%;
        text-decoration: none;
        text-transform: uppercase;
        transition: background-color 300ms;
        font-family: "Inter-Bold", sans-serif;
        font-weight: 800;
        letter-spacing: 2px;
        padding: 20px 30px;
        color: $navy_blue;
        line-height: 1;
        @media #{$mq-largeScreen} {
            padding: 10px 0px;
            
        }
        &--primary {
            background: $white;
            &.active {
                color: $teal;
                border-bottom: 7px solid $teal;
            }
        }
        &--secondary {
            background: $navy_blue;
            color: $white;
            min-width: 16em;
            &:hover, &:visited {
                color: $white;
            }
        }
        &__child-toggle {
            position: absolute;
            top: 50%;
            right: 0;
            padding: 0 15px;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            height: 100%;
            transition: background-color 300ms;
            display: flex;
            align-items: center;
            .svg-inline--fa {
                font-size: 2rem;
                font-weight: bold
            }
            .fa-caret-up {
                display: none
            }
        }
    }
    @media #{$mq-largeScreen} {
        &__wrapper {
            pointer-events: auto;
            margin-inline: 2rem;
        }
        &__list {
            -webkit-transform: none;
            transform: none;
            position: relative;
            &--primary {
                height: 100%;
                display: flex;
                justify-content: space-around;
                background-color: transparent;
            }
            &--secondary {
                pointer-events: none;
                opacity: 0;
                transition: opacity 300ms;
                position: absolute;
                right: 0;
                min-width: 100%;
                box-shadow: $box-shadow-white;
                padding-top: 10px;
            }
        }
        &__item {
            flex: 1 1 auto;
            margin: 0px 30px;
            &--primary {
                &:last-child{
                    margin: 0px 0px 0px 30px;
                }
                &:hover {
                    a {
                        color: $teal;
                    }
                    .nav__link--secondary {
                        color: $white;
                    }
                }
            }
            &--secondary {
                margin: 0;
                border-top: 1px solid $teal;
            }
        }
        &__link {
            text-align: center;
            outline: none;
            &__child-toggle {
                position: relative;
                padding: 0;
                margin-left: 0.75em;
            }
            &--primary {
                background-color: transparent;
                height: 100%;
                vertical-align: middle;
                display: flex;
                align-items: center;
                justify-content: center
            }
            &--secondary {
                text-align: left;
                background-color: $navy_blue;
                color: #ffffff;
                padding: 1em 1.5em;
                span {
                    display: block;
                    position: relative;
                    padding: 1em 0;
                    &:hover {
                        &:after {
                            content: '';
                            display: block;
                            height: 2px;
                            width: 100%;
                            background-image: linear-gradient(to right, #FF8672 0%, #FF8672 2px, transparent 2px, transparent 0%);
                            background-position: bottom left;
                            background-size: .33333rem 4px;
                            background-repeat: repeat-x;
                            position: absolute;
                            bottom: 0;
                            left: 0
                        }
                    }
                }
            }
        }
    }
}

.hasChild {
    .nav__list--secondary {
        max-height: 0 !important;
        @media #{$mq-largeScreen} {
            max-height: none !important;
        }
        &.showSubNav {
            max-height: none !important;
        }
    }
    
    @media #{$mq-largeScreen} {
        &:hover {
            ul {
                opacity: 1;
                pointer-events:auto;
            }
        }
    }
}

.nav__toggle {
    background: #414042;
    text-align: center;
    padding: 1rem;
    color: #ffffff;
    display: block;
    text-decoration: none;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-weight: 400
}


.header.nav-open .nav__wrapper {
    pointer-events: auto
}
