.profile-hero {
    position: relative;
    margin-block-start: 0.5rem;
    .profile-hero--banner {
        width: 100%;
        max-height: 575px;
        overflow: hidden;
        img {
            width: 100%;
            object-fit: cover;
            aspect-ratio: 16 / 8;
        }
    }
    .profile-hero--logo {
        border-radius: 50%;
        border: 5px solid $white;
        padding: 1rem;
        width: 250px;
        height: 250px;
        margin: -10rem auto 0;
        position: relative;
        @media #{$mq-largeScreen} {
            margin: -10rem 0 0 2rem;
            width: 282px;
            height: 282px;
        }
        @media #{$mq-mediumScreen} {
            margin: -10rem 0 0 2rem;
        }
        img {
            display: block;
            object-fit: contain;
            height: 100%;
            @media #{$mq-mediumScreen} {
                object-fit: contain;
                height: 100%;
            }
        }
    }
}