.profile-hero {
    margin-bottom: 140px;
    position: relative;
    .profile-hero--banner {
        width: 100%;
        max-height: 575px;
        overflow: hidden;
        img {
            width: 100%;
            object-fit: cover;
            aspect-ratio: 16 / 8;
        }
    }
    .profile-hero--logo {
        position: absolute;
        bottom: -100px;
        left: 40px;        
        img {
            display: block;
            border-radius: 50%;
            object-fit: cover;
        }
    }
}