.subscription {
    label {
        font-size: 1.125rem;
        font-family: 'Inter';
        font-weight: 500;
        display: block;
    }
    .ctct-inline-form {
        margin-block-start: 20px;
        .ctct-form-defaults {
            background-color: transparent !important;
            border-radius: 0;
            padding: 0;
            .ctct-form-custom {
                display: flex;
                min-height: auto;
                align-items: center;
                input[type="email"] {
                    border: 1px solid $white;
                    border-radius: 0;
                    background-color: transparent;
                    padding: 0.625rem;
                    width: 100%;
                    height: auto;              
                    color: $white;
                    line-height: normal;
                    @media #{$mq-mediumScreen}{
                        width: auto;
                    }
                    &::placeholder {
                        color: rgba($white, 0.5);
                    }                    
                }
                .ctct-form-field {
                    margin: 0;
                }
                button[type="submit"] {
                    border: 0;
                    color: $navy_blue;
                    background-color: $white;
                    min-width: auto;
                    margin: 0;
                    white-space: nowrap;
                    padding: 5px 10px;      
                    text-transform: uppercase;
                    width: 92px;
                    height: 38px;              
                }
            }
            .ctct-form-errorMessage,
            .ctct-form-footer,
            #gdpr_text,
            .ctct-form-text,
            .ctct-form-label {
                display: none !important;
            }
            .ctct-form-button {
                padding: 0;
                border-radius: 0;
            }
        }
    }
}

.g-recaptcha {
    display: none !important;
}