.sub-hero {
    position: relative;
    background-color: $light_gray;
    padding-bottom: 3.125rem;
    &.sub-hero--banner {
        margin-block-start: 0;

        img {
            width: 100%;
            object-fit: cover;
            @media #{$mq-largeScreen} {
                height: 566px;
            }
        }
    }
    .sub-intro-copy, .sub-intro {
        margin-top: -5rem;
        border-top: 5px solid $blue;
        box-shadow: $box-shadow;
        @media #{$mq-largeScreen} {
            max-width: 1415px;
        }
    }
}