.threeColumn {
    padding-block-start: 3.125rem;
    padding-block-end: 3.125rem;
    @media #{$mq-mediumScreen}{
        padding-block-start: 3.125rem;
        padding-block-end: 3.125rem;
    }
    &__heading h2{
        text-align: center;
        margin-block-start: 0;
    }
    &__content {
        p {
            text-align: center;
            width: 75%;
            margin: 0 auto 2.5rem;
        }
    }
    &.blue {
        background-color: $navy_blue;
        .threeColumn {
            &__heading h2 {
                color: $white;
            }
            &__content {
                p {
                    color: $white;
                }
            }
        }
    }
    &.white {
        background-color: $light_gray;
        .threeColumn {
            &__heading h2 {
                color: $navy_blue;
            }
            &__content {
                p {
                    color: $navy_blue;
                }
            }
            &__column__container {
                box-shadow: $box-shadow;
            }
        }
    }
    &__container {
        max-width: 1440px;
        margin: 0 auto;
        .slick-slide {
            > div {
                display: flex;
            }
        }
    }
    &__column {
        &__container {
            background-color: $white;
            padding: 25px;
            margin: 15px;
            min-height: 97%;
        }
        &__image {
            margin-block: 0px 15px;
            img {
                aspect-ratio: 16 / 10;
                object-fit: contain;
                width: 100%;
            }
        }
        &__content {
            h4 {
                margin-block-start: 21px;
            }
            p {
                margin-block: 14px;                
            }
        }
    }
    .slick-dots {
        margin-bottom: -2rem;
    }
}