.user-signup {
    background-color: $white;
    border-top: 8px solid $blue;
    padding: 0px 0px 20px 0px;
    height: 100%;
    overflow: auto;
    @media #{$mq-largeScreen} {
        min-width: 800px;
        height: auto;
    }
    &__close {
        display: flex;
        justify-content: flex-end;
        button {
            padding: 15px;
            margin: 0px;
            background: none;
            min-width: 0;
        }
    }
    &__tab-group {
        display: flex;
        justify-content: space-evenly;
        padding: 20px 15px;
        &-tab {
            text-transform: uppercase;
            text-align: center;
            a {
                font-family: "Inter-Bold", sans-serif;
                font-weight: 900;
                color: $navy_blue;
                text-decoration: none;
                letter-spacing: 0.7px;
                &:hover, &:focus {
                    color: $teal;
                }
                &:visited {
                    color: $navy_blue;
                }
                &.active {
                    color: $teal;
                    // border-bottom: 7px solid $teal;
                    // padding-bottom: 5px;
                    &:after {
                        content: '';
                        width: 100%;
                        height: 7px;
                        background: $teal;
                        display: block;
                        margin-top: 10px;
                    }
                }
            }
            

        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0px 0px;
    }
    &__logo {
        max-width: 150px;
        aspect-ratio: 1;
        object-fit: contain;
    }
    .form {
        .form-field {
            padding: 0px 20px;            
            @media #{$mq-largeScreen} {
                padding: 0;
                margin: 0px 100px;
            }
        }
        .checkbox {
            margin-bottom: 10px;
            &:last-of-type{
                margin-bottom: 0;
            }
        }
    }
    &__actions {
        padding: 30px 25px 10px;
        border-top: 1px solid $medium_gray;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        a.link--plain {
            text-align: center;
            padding: 20px 0px 0px;
            @media #{$mq-largeScreen} {
                padding: 20px;
            }
        }
        @media #{$mq-largeScreen} {
            flex-direction: row;
        }
    }
}