.user-signup {
    background-color: $white;
    min-width: 800px;
    border-top: 8px solid $navy_blue;
    padding: 0px 0px 20px 0px;
    &__close {
        display: flex;
        justify-content: flex-end;
        button {
            padding: 15px;
            margin: 0px;
            background: none;
            min-width: 0;
        }
    }
    &__tab-group {
        display: flex;
        justify-content: space-evenly;
        padding: 20px 0px;
        &-tab {
            text-transform: uppercase;
            a {
                font-family: "Inter-Bold", sans-serif;
                font-weight: 900;
                color: $navy_blue;
                text-decoration: none;
                letter-spacing: 0.7px;
                &:hover, &:focus {
                    color: $teal;
                }
                &:visited {
                    color: $navy_blue;
                }
                &.active {
                    color: $teal;
                    border-bottom: 7px solid $teal;
                    padding-bottom: 5px;
                }
            }
            

        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0px 0px;
    }
    &__logo {
        max-width: 150px;
        aspect-ratio: 1;
        object-fit: contain;
    }
    .form {
        padding: 30px 100px;
        .checkbox {
            padding-bottom: 10px;
            &:last-of-type{
                padding-bottom: 0;
            }
        }
    }
    &__actions {
        padding: 30px 25px 10px;
        border-top: 1px solid $medium_gray;
        display: flex;
        justify-content: flex-end;
    }
}