.utilityNav {
    width: 100%;
    display: flex;    
    justify-content: flex-start;    
    @media #{$mq-largeScreen} {
        justify-content: flex-end;
        background-color: $light_gray;    
    }
    &__list {
        display: flex;
        flex-direction: column;
        width: 100%;
        @media #{$mq-largeScreen} {
            flex-direction: row;
            justify-content: flex-end;
        }
    }
    &__item {
        &--primary {
            background-color: $light_gray;
            margin-top: 5px;
            display: flex;
            a {
                padding: 0 25px 0 0;
                font-size: 0.90rem;
            }
            @media #{$mq-largeScreen} {
                padding-block: 15px;
                margin-top: 0;
            }
        }
        &--members {
            position: relative;
            font-weight: 500;
            a {
                letter-spacing: normal;
                font-size: 1rem;
                span {
                    box-shadow: none;
                }
                .fas {
                    font-size: 1.5rem;
                    &.fa-caret-down {
                        margin-left: 0.50rem;
                        font-size: 1rem;                        
                    }
                }
            }
        }
    }
    &__link {
        &--primary {
            display: flex;
            align-items: center;
            color: $navy_blue;
            text-decoration: none;
            line-height: 1rem;
            span {
                box-shadow: 0px 1px 0px $navy_blue;
            };
            &:visited{
                color: $navy_blue;
            }
            .fas {
                margin-inline: 0px 10px;
            }
        }
    }
}